
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');



:root{
    --blueColor: #34b0be;
    --darkColor: hsl(237, 85%, 5%);
    --LightColor: #e5e0e0f1;
    --greyColor: #32374a;
    --blackColor: black;
    --height-header: 250px;
    --size-icon-contacto: 90px;
    --size-circle: 280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--darkColor);
    color: var(--LightColor);
   
}
nav{
    background-color: var(--darkColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.25rem;
    height: 61px;
    position: relative;
    z-index: 99;
}
.home{
    color: var(--blueColor);
}


input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul {
   
    background-color: var(--darkColor);
    color: var(--LightColor);
    list-style: none;
    position: absolute;
    left: 0;    
    top: 60px;  
    width: 100%;
    height: calc(100vh - 58px); 
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    z-index: 10;
    display: none;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}




.contenedor-presentacion{   
    
    height: var(--height-header);
    width: 100%;       
    position: relative;   
}
.texto-azul{
    color: var(--blueColor);
}

.contenedor-datos{    
    
    
    min-width: 100px;
    font-size: .5em;
    font-weight: 100;
    padding: .5rem 0rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 5px;
    

}
.contenedor-datos h2{
    font-size: 24px;
}

.nombre{
    font-weight: 700;
    font-size: 1.8rem;
}
h2.oficio{
    font-size: 16px;
    font-weight: 200;
    color: aliceblue;
}

.contenedor-foto{
    height: var(--height-header);
    width: var(--height-header);
    position: relative;
    left:calc(50% - var(--height-header)/2 );
}
.contenedor-foto>img{
   
    height: var(--height-header);      
}


.contenedor-foto::after{
    content: " ";/*CONTENIDO DEL ELEMENTO , vacio*/
    width: var(--size-circle);
    height: var(--size-circle);
    background-color: var(--greyColor);
    border-radius: 50%;
    position:absolute;
    right: calc(50% - var(--size-circle) / 2);
    top: 10px;
    z-index: -1;
    
}

.contenedor-social{
    
    width: fit-content;
    position: absolute;
    top:20px;
    right: 3px;
    
}


h2.texto-azul.exp{
    font-weight: 600;
}

h2.texto-exp{
    font-size: 1rem;
    font-weight: 600;
}

.redes{
    padding: 0rem 0 0 0;
    display: flex;      
    gap: .4rem;
    margin-top: .5rem;
}
.redes div{
    width: 27px;
    height: 27px;
    border-radius: 50%;    
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.redes img{
    width: 15px;
}

   

.contenedor-empresas{
    height: 4rem;
    width: 95%;
    margin: 2px auto 0 auto;
    padding: 0 .2rem;
    border-radius: 1rem;
    background-color: var(--greyColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 2;
    position: relative;
    top: -10px;
    
}

.contenedor-empresas > img{
    border-radius: 1rem;
    height: 2.5rem;
    width: 4rem;
    background-color: var(--LightColor);
    object-fit: contain;
    padding: 0.3rem; 
 }

.seccion{
    text-align: center;        
}
.subtitulo{
    color: var(--blueColor);
    font-size: 1.8rem;
    padding: .5em .5rem;
   
}
p{
    padding: 0 1rem;
}

.contenedor-cards{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 1rem 1rem 1rem;
    
}
/*estilar scroll bar*/
.contenedor-cards::-webkit-scrollbar,  .galeria-proyectos::-webkit-scrollbar{
    height: 5px;
    border: 1px solid rgb(34, 143, 17);
    background-color: #114656;
    border-radius: 1rem;
}
.contenedor-cards::-webkit-scrollbar-thumb, .galeria-proyectos::-webkit-scrollbar-thumb {
    background-color: #155e85;
    height: 5px;
    border-radius: 1rem;
    border: 1px solid #0fc5bf;

}

.card-servicio {
    width: 250px;
    min-width: 250px;
    height: 300px;
    border-radius: .3rem;
    background-color: aliceblue;
    border: 1px solid darkgoldenrod ; 
 
}

.card-servicio > h3{
    color: var(--blackColor);
    padding: .4rem;
    font-size: 1.7rem;
}
.card-servicio > small{
    display: block;
    color: var(--greyColor);
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.1rem;
}


.habilidad{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    text-align: justify;
}



/* background: */
progress {
    width: 100%;
    border-radius: 1rem;
    background-color: #f9f5f2;
    height: 1.25rem;
    border-radius: 1rem;
    color: var(--blueColor);
}
progress::-webkit-progress-bar {
    background-color: #f9f5f2; 
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}
/* value: */
progress::-webkit-progress-value {
    background-color: var(--blueColor);
    border-radius: 1rem;
}
progress::-moz-progress-bar {
    background-color: var(--blueColor);
    border-radius: 1rem;
}

.galeria-proyectos{
    display: flex;
    overflow-x: scroll;
    

}
.galeria-proyectos > img{
    width: 300px;
    object-fit: contain;
    margin-bottom: 5px;
    margin-left: 20px;
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    gap: 2rem;    
    padding: 0 0 1rem 0;
    
}

.contenedor-contacto > div{
    width: var(--size-icon-contacto);
    height: var(--size-icon-contacto);
    border-radius: 1rem;  
    background-color: var(--LightColor);     
    display: flex;
    justify-content: center;
    align-items: center;    
}



footer{
    text-align: center;
    padding: 0.3rem 1rem;
    background-color:var(--blackColor);
}
footer h5{
    font-weight: 300;

}


@media screen and ( min-width:316px ){    
    .contenedor-social{
        top: 0px;
        right: 3px;
    }
    
    h2.texto-azul.exp{
        font-size: 1.8rem;
        font-weight: 600;
    }

    h2.texto-exp{
        font-size: 1.25rem;
        font-weight: 500;
    }

    .contenedor-social{
        top: 10px;
    }
    .redes div{
        width: 35px;
        height: 35px;
        
    }
    .redes img{
        width: 20px;
    }
}

@media screen and ( min-width:370px ){ 
    .contenedor-presentacion{   
        height: var(--height-header);
        width: 370px;    
        margin: 0 auto;    
    }
    .contenedor-empresas{        
        width: 300px;
        margin: 0 auto 0 auto; 
    }

    
}

@media screen and ( min-width:620px ){
    nav > label{
        display: none;
    }    

    input#menu-hamburguesa ~ ul{

        color: var(--LightColor);        
        position:static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    
    }
    nav{
        padding: 0;
        font-size: 70%;        
    }
    p{
        margin: 0rem 2rem; 
        font-size: large;
    }
    
}


@media screen and ( min-width:700px ){
    
    :root{
        --height-header: 350px;
        --size-circle: 400px;
        --size-icon-contacto: 120px;
    }
    
    .subtitulo{
        padding-top: 2.5rem;
    }

    .contenedor-presentacion{        
        width: 660px;
        margin-left: auto;
        margin-right: auto;
    }

    nav{
        padding: .5rem 3rem;
        font-size: 100%;        
    }
    p{
        width: 700px;
        margin: 0rem auto; 
        font-size: larger;
    }
    .contenedor-empresas{
        height: 5em;
        width: 450px;   
        gap: 2rem;     
    }
    .contenedor-empresas > img{
        height: 50px;
        width: 80px;     
    }


    .contenedor-datos{           
        min-width: 230px;
        left: 70px;
        top: 0;
    }
    .contenedor-datos h2{
        font-size: 40px;
        font-weight: 500;
    }    
    .nombre, h2.texto-azul.exp{
        font-size: 2.8rem;
    }
    h2.oficio, h2.texto-exp{
        font-size: 25px;
        font-weight: 300;
    }    
    .contenedor-social{
        top: 25;
        right: calc(50% - 240px);
    }
    .redes{
        gap: 1rem;
    }
    .redes div{
        width: 40px;
        height: 40px;
    }
    .redes img{
        width: 22px;
    }

    .contenedor-cards{
        justify-content: center;
        gap: 5vw;
        overflow-x: hidden;
    }

    progress {
        width: 700px;
        margin: 0 auto;
    }
    .seccion.habilidades label{
        display: inline-block;
        width: 700px;
        margin: auto;
    }
}
@media screen and ( min-width:1080px ){

    .galeria-proyectos{
        width: 1080px;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .galeria-proyectos img{
        height: 190px;
    }
}






