
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');



:root{
    --blueColor: #34b0be;
    --darkColor: hsl(237, 85%, 5%);
    --LightColor: #e5e0e0f1;
    --greyColor: #32374a;
    --blackColor: black;
    --height-header: 250px;
    --size-icon-contacto: 90px;
    --size-circle: 280px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: var(--darkColor);
    color: var(--LightColor);
   
}
nav{
    background-color: var(--darkColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.25rem;
    height: 61px;
}
.home{
    color: var(--blueColor);
}


input#menu-hamburguesa{
    visibility: hidden;
}

input#menu-hamburguesa ~ ul {
   
    background-color: var(--darkColor);
    color: var(--LightColor);
    list-style: none;
    position: absolute;
    left: 0;    
    top: 60px;  
    width: 100%;
    height: calc(100vh - 58px); 
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 1rem;
    z-index: 10;
    display: none;
}

input#menu-hamburguesa:checked ~ ul{
    display: flex;
}




.contenedor-presentacion{
   
    border:1px solid red ;
    height: var(--height-header);
    width: 100%;       
    position: relative;
   
}
.texto-azul{
    color: var(--blueColor);
}

.contenedor-datos{    
    
    border: 1px solid yellow;
    min-width: 100px;
    font-size: .5em;
    font-weight: 100;
    padding: .5rem 0rem;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 5px;
    

}
.contenedor-datos h2{
    font-size: 24px;
}

.nombre{
    font-weight: 700;
    font-size: 1.8rem;
}
h2.oficio{
    font-size: 16px;
    font-weight: 200;
    color: aliceblue;
}

.contenedor-foto{
    height: var(--height-header);
    width: var(--height-header);
    border: 1px solid greenyellow;
    position: relative;
    left:calc(50% - var(--height-header)/2 );
}
.contenedor-foto>img{
   
    height: var(--height-header);    
   /* border: 1px solid yellow;*/  
}


.contenedor-foto::after{
    content: " ";/*CONTENIDO DEL ELEMENTO , vacio*/
    width: var(--size-circle);
    height: var(--size-circle);
    background-color: var(--greyColor);
    border-radius: 50%;
    position:absolute;
    right: calc(50% - var(--size-circle) / 2);
    top: 10px;
    z-index: -1;
    
}

.contenedor-social{
    border: 1px solid slateblue;
    width: fit-content;
    position: absolute;
    top: 35px;
    right: 0;
}


h2.texto-azul.exp{
    font-weight: 600;
}

h2.texto-exp{
    font-size: 1rem;
    font-weight: 600;
}

.redes{
    padding: 0rem 0 0 0;
    display: flex;      
    gap: .4rem;
    margin-top: .5rem;
}
.redes div{
    width: 25px;
    height: 25px;
    border-radius: 50%;    
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.redes img{
    width: 15px;
}

   

.contenedor-empresas{
    height: 4rem;
    width: 95%;
    margin: 2px auto 0 auto;
    padding: 0 .2rem;
    border-radius: 1rem;
    background-color: var(--greyColor);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 12;
    position: relative;
    top: -10px;
    
}

.contenedor-empresas > img{
    
    border-radius: 1rem;
    height: 2.5rem;
    width: 4rem;
    background-color: var(--LightColor);
    object-fit: contain;
    padding: 0.3rem;
    
    
}

.seccion{
    text-align: center;        
}
.subtitulo{
    color: var(--blueColor);
    font-size: 1.8rem;
    padding: .5em .5rem;
   
}
p{
    padding: 0 1rem;
}

.contenedor-cards{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 1rem 1rem 1rem;
    
}
/*estilar scroll bar*/
/*.contenedor-cards::-webkit-scrollbar{
    height: 2px;
    opacity: 0.5;
}*/
.card-servicio {
    width: 250px;
    min-width: 250px;
    height: 300px;
    border-radius: .3rem;
    background-color: aliceblue;
    border: 1px solid darkgoldenrod ; 
 
}

.card-servicio > h3{
    color: var(--blackColor);
    padding: .4rem;
    font-size: 1.7rem;
}
.card-servicio > small{
    display: block;
    color: var(--greyColor);
    padding-top: 1rem;
    padding-bottom: 3rem;
    font-size: 1.1rem;
}


.habilidad{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    text-align: justify;
}



/* background: */
progress {
    width: 100%;
    border-radius: 1rem;
    background-color: #f9f5f2;
    height: 1.25rem;
    border-radius: 1rem;
    color: var(--blueColor);
}
progress::-webkit-progress-bar {
    background-color: #f9f5f2; 
    height: 1.25rem;
    width: 100%;
    border-radius: 1rem;
}
/* value: */
progress::-webkit-progress-value {
    background-color: var(--blueColor);
    border-radius: 1rem;
}
progress::-moz-progress-bar {
    background-color: var(--blueColor);
    border-radius: 1rem;
}

.galeria-proyectos{
    display: flex;
    overflow-x: scroll;
    gap: 1.5rem;

}
.galeria-proyectos > img{
    width: 300px;
    object-fit: contain;
    margin-bottom: 5px;
    margin-left: 20px;
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    gap: 2rem;    
    padding: 0 0 1rem 0;
    
}

.contenedor-contacto > div{
    width: var(--size-icon-contacto);
    height: var(--size-icon-contacto);
    border-radius: 1rem;  
    background-color: var(--LightColor);     
    display: flex;
    justify-content: center;
    align-items: center;    
}



footer{
    text-align: center;
    padding: 0.3rem 1rem;
    background-color:var(--blackColor);
}
footer h5{
    font-weight: 300;

}

@media screen and ( min-width:620px ){
    nav > label{
        display: none;
    }    

    input#menu-hamburguesa ~ ul{

        color: var(--LightColor);        
        position:static;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: flex-end;
    
    }
    nav{
        padding: 0;
        font-size: 70%;        
    }
    p{
        margin: 0rem 2rem; 
        font-size: large;
    }
    
}


@media screen and ( min-width:584px ){
}

@media screen and ( min-width:930px ){
    .contenedor-presentacion{        
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    nav{
        padding: .5rem 3rem;
        font-size: 100%;        
    }
    p{
        margin: 0rem 10rem; 
        font-size: larger;
    }
    .contenedor-empresas{
        height: 7em;
        width: 40em;   
        gap: 3rem;     
    }
    .contenedor-empresas > img{
        height: 5em;
        width: 8em;   
        gap: 3rem;     
    }
}





